*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/src/main/Thumbs.db
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/res/*/Thumbs.db
/app/src/main/res/drawable*/Thumbs.db
/app/build
/app/release
Thumbs.db
