# Built artifacts
bin/
gen/
out/
build/
.gradle/
.kotlin/
app/build/
app/release/

# IDE files
.idea/
*.iml
local.properties
keystore.properties
captures/
.externalNativeBuild/
.cxx/
.navigation/

# OS metadata
.DS_Store
Thumbs.db
Desktop.ini

# User artifacts
.artifacts/

# Signing files
*.jks
*.keystore
*.p12
*.key
google-services.json

# Misc
*.log
*.temp
*.tmp
